/* --- Error/success message text --- */
.errorMessage {
	color: red;
	font-weight: bold;
}

.successMessage {
	color: green;
	font-weight: bold;
}


/* --- Centered div --- */
div.centered {
	display: table;
	margin: 0 auto;
	text-align: center
}


/* --- Table for displaying rows from a database --- */
table.dbRows, table.dbRows td, table.dbRows th {
	border: 1px solid black;
}

table.dbRows {
	border-collapse: collapse;
}

table.dbRows td, table.dbRows th {
	padding: 10px;
}

table.dbRows th {
	background-color: gray;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

table.dbRows td {
	text-align: center;
}


/* --- Table for basic forms --- */
table.form {
	font-family: Arial;
	text-align: right;
}

table.form td {
	padding: 10px;
	vertical-align: top;
}

table.form input[type="text"], table.form input[type="number"] {
	width: 150px;
}

table.form textarea {
	resize: none;
	width: 150px;
	height: 100px;
}