{% extends 'crontrack/base.html' %}

{% block title %} Log in {% endblock %}

{% block content %}
	<div class="center">
		<h1>CronTrack</h1>
		<h3>Login</h3>
		<form method="post" class="login">
			{% csrf_token %}
			<input type="text" name="username" placeholder="Username" autofocus>
			<br><input type="password" name="password" placeholder="Password">
			<br><input type="submit" value="Log in">
			</table>
			<!-- TODO: add error message on failed login (also need password recovery, deleting accounts, etc. -->
		</form>
	</div>
{% endblock %}