{% extends 'crontrack/base.html' %}

{% block title %} Reset password {% endblock %}

{% block content %}
  <div class="center">
    <h1>CronTrack</h1>
    <h3>Reset password</h3>
    <form method="post">
      {% csrf_token %}
      <p>Enter the email address you registered your account with.</p>
      <input type="text" name="email" placeholder="Your email address" autofocus>
      <br><br><input type="submit" value="Submit">
      </table>
    </form>
    {% for error in form.errors.values %}
      <br><span class="errorMessage">
        {% for message in error %}
          <br>{{ message }}
        {% endfor %}
      </span>
    {% endfor %}
  </div>
{% endblock %}