{% extends 'crontrack/base.html' %}

{% block title %} Register an account {% endblock %}

{% block content %}
	<div class="center">
		<h1>CronTrack</h1>
		<h3>Register an account</h3>
		<form method="post">
			{% csrf_token %}
			<table class="form thin">
				<tr>
					<td>{{ form.email.label_tag }}</td>
					<td>{{ form.email }}</td>
				</tr>
				<tr>
					<td>{{ form.username.label_tag }}</td>
					<td>{{ form.username }}</td>
				</tr>
				<tr>
					<td>{{ form.password1.label_tag }}</td>
					<td>{{ form.password1 }}</td>
				</tr>
				<tr>
					<td>{{ form.password2.label_tag }}</td>
					<td>{{ form.password2 }}</td>
				</tr>
			</table>
			<br><input type="submit" value="Register">
		</form>
		{% for error in form.errors.values %}
			<br><span class="errorMessage">
				{% for message in error %}
					<br>{{ message }}
				{% endfor %}
			</span>
		{% endfor %}
	</div>
{% endblock %}