<p>Dear {{ job.user.username }},</p>
<p>Your job "{{ job.name }}" has failed to notify CronTrack in time.
<br>Details below.</p>

<table class="form">
	<tr><th>Cron schedule string</th><td>{{ job.schedule_str }}</td></tr>
	<tr><th>Scheduled run time<th><td>{{ job.next_run }}</td></tr>
	<tr><th>Time window</th><td>{{ job.time_window }} minutes</td></tr>
</table>
				
<p>Go to <a href="{% url 'crontrack:view_jobs' %}">{% url 'crontrack:view_jobs' %}"></a> for more details.</p>

<p>Sincerely,<br>CronTrack</p>

<p class="note">This email was sent automatically. Please do not reply.</p>