{% extends 'crontrack/email/emailbase.html' %}

{% block message %}
  <p>Your job '{{ job.name }}' {% if job.team %}from team '{{ job.team }}' {% endif %}has failed to notify CronTrack in time.
  <br>Details below.</p>

  <table class="form">
    <tr><th>Job group </th><td>{{ job.group|default:'Ungrouped' }}</td></tr>
    <tr><th>Cron schedule string </th><td>{{ job.schedule_str }}</td></tr>
    <tr><th>Scheduled run time </th><td>{{ job.next_run }}</td></tr>
    <tr><th>Time window </th><td>{{ job.time_window }} minutes</td></tr>
  </table>

  {% url 'crontrack:view_jobs' as jobs_url %}
  <p>Go to <a href="{{ protocol }}://{{ domain }}{{ jobs_url }}">{{ protocol }}://{{ domain }}{{ jobs_url }}</a> for more details.</p>
{% endblock %}