{% extends 'crontrack/base.html' %}

{% load static %}

{% block title %} Dashboard {% endblock %}

{% block content %}
  <div class="hcenter">
    <h2>Dashboard</h2>
    <h3>Event log</h3>
    <p class="note">
      Currently displaying in timezone "{{ user.timezone }}."
      (<a href="{% url 'crontrack:profile' %}">change</a>)
    </p>
    <div class="tab mediumWidth">
      <span>
        <select id="perPage">
          {% for size in size_options %}
            <option{% if per_page == size %} selected{% endif %}>{{ size }}</option>
          {% endfor %}
        </select>
        items per page.
      </span>
      <span>Page:</span>
      {% for page in pages %}
        <button js-target="page{{ forloop.counter }}" class="{% if forloop.first %}active{% endif %}"
            onclick="markSeen({{ forloop.counter }})">
          {{ forloop.counter }}
        </button>
      {% endfor %}
    </div>
    {% for page in pages %}
      <div id="page{{ forloop.counter }}" class="tabContent messageHolder show{% if forloop.first %} active{% endif %}">
      {% for event in page %}
        {% if event.type == event.FAILURE %}
            <div id="{{ event.id }}" class="message danger{% if not event.seen %} highlight{% endif %}">
              Job <a href="{% url 'crontrack:view_jobs' %}#{{ event.job.id }}"><b>{{ event.job.name }}</b></a>
              failed at <i>{{ event.time }}</i>
            </div>
        {% else %}
          <div id="{{ event.id }}" class="message warning{% if not event.seen %} highlight{% endif %}">
              Waiting for a notification from job
              <a href="{% url 'crontrack:view_jobs' %}#{{ event.job.id }}"><b>{{ event.job.name }}</b></a>
              at <i>{{ event.time }}</i>
              <br>(Time window is <b>{{ event.job.time_window }}</b> minutes)
          </div>
        {% endif %}
      {% empty %}
        <p class="note">No events to display.</p>
      {% endfor %}
      </div>
    {% endfor %}
  </div>
  {% include 'crontrack/js/jquery.html' %}
  {% include 'crontrack/js/js-cookie.html' %}
  <script src="{% static 'crontrack/js/setup.js' %}"></script>
  <script src="{% static 'crontrack/js/tab.js' %}"></script>
  <script>
    TAB_COOKIE = false; // disable saving the selected tab in a cookie for this page
    
    // Update items per page
    $('#perPage').on('change', function() {
      location.href = '{% url "crontrack:dashboard" %}' + this.value + '/';
    });
    
    // Mark all events on the page as seen
    function markSeen(page) {
      var messages = $('#' + page + ' .message');
      var ids = messages.map((i, obj) => obj.id).get().join(',');
      
      quickAjax({
        data: {
          ids: ids
        }
      });
    }
    
    $(function() {
      // Mark messages as seen when each page is in focus
      $('div.tab button').on('click', function() {
        markSeen($(this).attr('js-target'));
      });
      
      markSeen('page1');
      
      // Reset tab cookie
      $('.message a').on('click', function() {
        Cookies.set('tab', 'All', { path: '{% url "crontrack:view_jobs" %}' });
      });
    });
  </script>
{% endblock %}