{% extends 'crontrack/base.html' %}

{% load static %}

{% block title %} Edit a group of jobs {% endblock %}

{% block content %}
	<div class="hcenter">
		<h2>Edit job group</h2>
		{% if user.is_authenticated %}
			{% if group %}
				<p class="note">
					Currently displaying in timezone "{{ user.profile.timezone }}."
					(<a href="{% url 'crontrack:profile' %}">change</a>)
				</p>
				<form action="{% url 'crontrack:delete_group' %}" method="post" id="deleteRowGroupForm">
					{% csrf_token %}
					<input type="hidden" name="group" value="{{ group.id }}">
				</form>
				<form action="{% url 'crontrack:delete_job' %}" method="post" id="deleteRowGroupItemForm">
					{% csrf_token %}
					<input type="hidden" name="job" id="deleteRowGroupItemInput">
				</form>
				<!-- TODO: remove this second form -->
				
				<form action="{% url 'crontrack:edit_group' %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="edited">
					<input type="hidden" name="group" value="{{ group.id }}">
					<table class="dbRows">
						<thead><tr>
							<th>Name</th>
							<th>Cron Schedule String</th>
							<th>Time Window (min)</th>
							<!--<th>Next Run Time</th>
							<th>Last Notified</th>-->
						</tr></thead>
						<tr><td colspan="3" class="rowGroupHeader open" onclick="toggleRowGroup(event)">
							<span><input type="text" name="group_name" value="{{ group.name }}" size="50" maxlength="50"></span>
							
							<!-- ^THIS 50 is a magic number and should be burnt with fire -- I need to make a constants field and pass it into the template -->
							
							{% if group.id %}
								<span class="right">
									<a class="button" href="{% url 'crontrack:view_jobs' %}">Cancel</a>&nbsp;
									<input type="button" value="Delete" onclick="deleteRowGroup(event,'{{ group.name }}')" class="danger">
								</span>
							{% endif %}
						</td></tr>
						<tbody class="rowGroupContent open">
							<tr><td colspan="3" class="rowGroupInfo">
								<textarea name="description" maxlength="200">{{ group.description }}</textarea>
							</td></tr>
							{% for job in group.jobs %}
								<tr class="rowGroupItem open" onclick="toggleRowGroupItem(event)" id="{{ job.id }}">
									<td><input type="text" name="{{ job.id }}__name" value="{{ job.name }}"></td>
									<td><input type="text" name="{{ job.id }}__schedule_str" value="{{ job.schedule_str }}"></td>
									<td>
										<input type="number" name="{{ job.id }}__time_window" value="{{ job.time_window }}">
										<input type="button" value=" X " onclick="deleteRowGroupItem(event,'{{ job.name }}')" my-url="{% url 'crontrack:delete_job' %}" class="danger float">
									</td>
									
									<!-- Didn't need to add this: these fields shouldn't be user-editable
									<td><input type="datetime-local" name="{{ job.id }}__next_run" value="{{ job.next_run|date:'Y-m-d\TH:i' }}"></td>
									<td><input type="datetime-local" name="{{ job.id }}__last_notified" value="{{ job.last_notified|date:'Y-m-d\TH:i' }}"></td>
									<!-- TODO: check if these datetime inputs actually take in input at the right time -->
								</tr>
								<tr class="rowGroupItemInfo">
									<td colspan="5">
										<textarea name="{{ job.id }}__description" maxlength="200">{{ job.description }}</textarea>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<br>
					<input type="submit" value="Confirm">
				</form>
				{% if error_message %}
					<br><p class="errorMessage">Error: {{ error_message }}.</p>
				{% endif %}
			{% else %}
				<p class="errorMessage">Error: the selected group does not exist.</p>
			{% endif %}
		{% else %}
			<p>You are not logged in.</p>
			<a href="{% url 'crontrack:login' %}">Log in</a>
		{% endif %}
	</div>
	<script src="{% static 'lib/jquery.js' %}"></script>
	<script src="{% static 'lib/js.cookie.js' %}"></script>
	<script src="{% static 'crontrack/setup.js' %}"></script>
	<script src="{% static 'crontrack/rowgroup.js' %}"></script>
{% endblock %}