{% extends 'crontrack/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
	<div class="center">
		<h1>CronTrack</h1>
		<p>An open-source web service for tracking Cron jobs.</p>
		<p>
			<a href="{% url 'crontrack:login' %}">Log in</a>
			<a href="{% url 'crontrack:register' %}">Register</a>
			<a href="{% url 'crontrack:view_jobs' %}">View jobs</a>
			<a href="{% url 'crontrack:add_job' %}">Add job</a>
			<a href="https://github.com/Arch199/crontrack">Github repo</a>
		</p>
	</div>
{% endblock %}