{% extends 'crontrack/base.html' %}

{% load static %}

{% block title %} Manage teams {% endblock %}

{% block content %}
  <div class="hcenter">
    <h2>Manage teams</h2>
    <div class="infoBox">
      <label for="personalAlerts">(No Team) alerts on</label>
      <input type="checkbox" name="alerts_on" {% if user.personal_alerts_on %} checked {% endif %}
          team-id="None" id="personalAlerts">
    </div>
    {% if user.teams.exists %}
      <table class="dbRows">
        <thead><tr>
          <th>Alerts</th>
          <th>Team Name</th>
          <th>Current Users</th>
          <th>New User</th>
        </tr></thead>
        <tbody>
          {% for team in user.teams.all %}
            <tr>
              <td>
                <input type="checkbox" name="alerts_on" {% if team.id in membership_alerts %} checked {% endif %}
                    team-id="{{ team.id }}">
              </td>
              <td><b>{{ team.name }}</b></td>
              <td>
                <form method="post">
                  {% csrf_token %}
                  <input type="hidden" name="type" value="remove_user">
                  <input type="hidden" name="team_id" value="{{ team.id }}">
                  <select name="username">
                    {% for u in team.user_set.all %}
                      <option value="{{ u }}">{{ u }}</option>
                    {% endfor %}
                  </select>
                  <input type="submit" value="Remove" class="danger">
                </form>
              </td>
              <td>
                <form method="post">
                  {% csrf_token %}
                  <input type="hidden" name="type" value="add_user">
                  <input type="hidden" name="team_id" value="{{ team.id }}">
                  <input type="text" name="username" placeholder="Username">
                  <input type="submit" value="Add">
                </form>
                
                <input type="button" value=" X " onclick="deleteTeam('{{ team.id }}')" class="danger float right">
                <form id="deleteTeam{{ team.id }}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="type" value="delete_team">
                  <input type="hidden" name="team_id" value="{{ team.id }}">
                  <input type="hidden" name="team_name" value="{{ team.name }}">
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="note">No teams to display.</p>
    {% endif %}
    <br><form method="post">
      {% csrf_token %}
      <input type="hidden" name="type" value="create_team">
      <input type="text" name="team_name" placeholder="Team name">
      &nbsp;<input type="submit" name="create_team" value="Create team">
    </form>
    {% if error_message %}
      <br><p class="errorMessage">Error: {{ error_message }}.</p>
    {% endif %}
  </div>
  {% include 'crontrack/js/jquery.html' %}
  {% include 'crontrack/js/js-cookie.html' %}
  <script src="{% static 'crontrack/setup.js' %}"></script>
  <script>
    $(document).ready(function() {
      $('input[name="alerts_on"]').on('change', function() {
        $.ajax({
          beforeSend: setToken,
          type: 'POST',
          url: window.location.href,
          data: {
            'type': 'toggle_alerts',
            'team_id': $(this).attr('team-id'),
            'alerts_on': this.checked
          },
          dataType: 'json'
        });
      });
    });
    
    function deleteTeam(teamID) {
      form = document.getElementById('deleteTeam' + teamID);
      teamName = form.lastElementChild.value;
      response = confirm('Are you sure you want to delete the team "' + teamName + '"?\nThis cannot be undone.');
      if (response) {
        form.submit();
      }
    }
  </script>
{% endblock %}