{% extends 'crontrack/base.html' %}

{% load static %}

{% block title %} View running jobs {% endblock %}

{% block content %}
  <div class="hcenter">
    <h2>View running jobs</h2>
    {% if user.is_authenticated %}
      <div class="tab fixedWidth">
        <span>Filter by team</span>
        <button onclick="changeTab(event, 'ug__0')" class="active">(No team)</button>
        {% for user_group in user.user_groups.all %}
          <button onclick="changeTab(event, 'ug__{{ user_group.id }}')">{{ user_group }}</button>
        {% endfor %}
      </div>
      <p class="note">
        Currently displaying in timezone "{{ user.timezone }}."
        (<a href="{% url 'crontrack:profile' %}">change</a>)
      </p>
      {% for user_group in user_groups %}
        <div class="tabContent{% if forloop.first %} active{% endif %}" id="ug__{{ user_group.id }}">
          {% if not user_group.empty %}
            <table class="dbRows">
              <thead><tr>
                <th>Name</th>
                <th>Cron Schedule String</th>
                <th>Time Window (min)</th>
                <th>Next Run Time</th>
                <th>Last Notified</th>
              </tr></thead>
              {% for job_group in user_group.job_groups %}
                <tr><td colspan="5" class="rowGroupHeader open" onclick="toggleRowGroup(event)">
                  <span>{{ job_group.name }}</span>
                  <form action="{% url 'crontrack:edit_group' %}" method="post" class="right">
                    {% csrf_token %}
                    <input type="hidden" name="group" value="{{ job_group.id|default:'None' }}">
                    <input type="hidden" name="user_group" value="{{ user_group.id|default:'None' }}">
                    <input type="submit" value="Edit group">
                  </form>
                </td></tr>
                <tbody class="rowGroupContent open">
                  {% if group.description %}
                    <tr><td colspan="5" class="rowGroupInfo"><p>{{ job_group.description }}</p></td></tr>
                  {% endif %}
                  {% for job in job_group.jobs %}
                    <tr class="rowGroupItem" onclick="toggleRowGroupItem(event)">
                      <td>{{ job.name }}</td>
                      <td>{{ job.schedule_str }}</td>
                      <td>{{ job.time_window }}</td>
                      <td>{{ job.next_run }}</td>
                      <td>{{ job.last_notified|default:'-' }}</td>
                    </tr>
                    <tr class="rowGroupItemInfo">
                      <td colspan="5"><p>
                        <span class="right">
                          URL: <input type="text" class="js-UUID" readonly size="60"
                              value="{{ protocol }}://{{ domain }}{% url 'crontrack:notify_job' job.id %}"><!--
                            --><button class="js-copyUUID">COPY</button>
                        </span>
                        {{ job.description }}
                      </p></td>
                    </tr>
                  {% endfor %}
                </tbody>
              {% endfor %}
            </table>
          {% else %}
            <p class="note">No jobs to display.</p>
          {% endif %}
        </div>
      {% endfor %}
      <br><a href="{% url 'crontrack:add_job' %}" class="button">Add a new job</a>
    {% else %}
      <p>You are not logged in.</p>
      <a href="{% url 'crontrack:login' %}">Log in</a>
    {% endif %}
  </div>
  {% include 'crontrack/js/jquery.html' %}
  <script src="{% static 'crontrack/rowgroup.js' %}"></script>
  <script src="{% static 'crontrack/tab.js' %}"></script>
  <script>
    $(document).ready(function() {
      // Add copy function to "COPY UUID" button
      $('.js-copyUUID').on('click', function() {
        $(this).prev('.js-UUID').select();
        document.execCommand('copy');
      });
    });
  </script>
{% endblock %}