{% extends 'crontrack/base.html' %}

{% block title %} View running jobs {% endblock %}

{% block content %}
	<div class="hcenter">
		<h2>View running jobs</h2>
		{% if user.is_authenticated %}
			{% if jobs %}
				<p class="note">
					Currently displaying in timezone "{{ user.profile.timezone }}."
					(<a href="{% url 'crontrack:profile' %}">change</a>)
				</p>
				<table class="dbRows">
					<thead><tr>
						<th>Name</th>
						<th>Cron Schedule String</th>
						<th>Time Window (min)</th>
						<th>Next Run Time</th>
						<th>Last Notified</th>
						<th>UUID</th>
					</tr></thead>
					<tbody>
						{% for job in jobs %}
							<tr>
								<td>{{ job.name }}</td>
								<td>{{ job.schedule_str }}</td>
								<td>{{ job.time_window }}</td>
								<td>{{ job.next_run }}</td>
								<td>{{ job.last_notified }}</td>
								<td>{{ job.id }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>No jobs to view.</p>
			{% endif %}
			<br><a href="{% url 'crontrack:add_job' %}" class="button">Add a new job</a>
		{% else %}
			<p>You are not logged in.</p>
			<a href="{% url 'crontrack:login' %}">Log in</a>
		{% endif %}
	</div>
{% endblock %}